<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>哈囉</title>
    
  </head>
  <body>
    <form action="/user/doAdd" method="post">
        ID <input type="text" name="ID" /> <br><br>
        用戶名 <input type="text" name="username" /> <br><br>
        密  碼 <input type="text" name="password" /> <br><br>
        愛  好 <input type="checkbox" value=1 id="label1" name="hobby"/> <label for="label1">吃飯</label>
          <input type="checkbox" value=2 id="label1" name="hobby"/> <label for="label1">敲代碼</label>
          <input type="checkbox" value=2 id="label1" name="hobby"/> <label for="label1">賺錢</label>
              <br><br>
        <input type="submit" />

    </form>
  </body>
</html>